.admin-categories {
  align-self: stretch;
  width: 100%;
  padding: 1em;
  .form-show {
    display: flex !important;
  }
  .edit-category-form {
    margin: 1em 0;
    display: none;
    gap: 10px;
    input,
    textarea {
      resize: vertical;
      padding: 1em;
      outline: none;
      border: 1px solid var(--main-color);
      border-radius: 5px;
      font-size: 16px;
    }
    .button-wrapper {
      input[type='submit'] {
        align-self: flex-start;
        padding: 0.5em 1.5em;
        background: orange;
        color: #fff;
        border: none;
        font-family: inherit;
        cursor: pointer;
        &.cancel-button {
          background-color: var(--main-color);
        }
      }
    }
  }
  .categories-wrapper {
    // gap: 25px;
    .single-category {
      padding: 1em 0;
      border-bottom: 1px solid var(--main-color);
      height: 150px;
      .category-image {
        height: 100%;
        // overflow: hidden;
        img {
          height: 100%;
          
        }
      }
      .category-details {
        align-self: flex-start;
        flex: 1;
        .category-title {
          font-weight: 600;
          font-size: 18px;
        }
      }
    }
  }
}
