.comment-wrapper {
  width: 100%;
  gap: 25px;
  .comment-form {
    form {
      input {
        padding: .5em 1em;
        border: 1px solid #969696;
        border-radius: 5px;
      }
    }
  }
  .comment-header {
    font-size: 18px;
    font-weight: 700;
    color: #9e9e9e;
  }
  .comments {
    gap: 15px;
    .single-comment {
      border-bottom: 1px solid #969696;
      padding: 0.5em 0;
      .comment-user {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
