.content {
  padding-top: 50px;
  margin: 5em auto;
  width: 1400px;
  max-width: 90%;
  gap: 50px;
  display: flex;
  justify-content: space-between;
  .video-player-wrapper {
    width: 100%;
    .youtube-player {
      width: 1000px;
      iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
        height: unset;
      }
    }
    .video-details {
      // margin-top: 25px;
      .video-stats {
        color: var(--grey-text);
      }
    }
  }
}
