.content {
  padding-top: 50px;
  margin: 5em auto;
  width: 1400px;
  max-width: 90%;
  gap: 50px;
  display: flex;
  justify-content: space-between;
  .youtube-player {
    width: 900px;
    iframe {
      width: 100%;
      aspect-ratio: 16 / 9;
      height: unset;
    }
  }
}
