.category-videos {
    padding-top: 50px;
    margin: 5em auto;
    width: 1400px;
    max-width: 90%;
    gap: 50px;
    &__videos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
        gap: 25px;
    }
}