.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  transition: 0.1s;
  .navbar-content {
    // padding: 0 2.75em;
    width: 1400px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: 0.3s;
    .title-icon {
      flex-shrink: 0;
      .nav-icon {
        width: 50px;
        svg {
          path {
            fill: var(--main-color);
          }
        }
      }
      .nav-title {
        h1 {
          font-size: 21px;
          color: #fff;
        }
      }
    }
    .navigation {
      display: flex;
      justify-content: space-between;
      margin-right: auto;
      .nav-link-container {
        cursor: pointer;
        padding: 22.5px 30px;
        margin: auto 0;
        align-self: stretch;
        .nav-link {
          font-size: 16px;
          color: #fff;
          transition: 0.2s;
          svg {
            transition: 0.2s;
            font-size: 20px;
          }
        }
        &:hover {
          .nav-link {
            color: var(--main-color) !important;
          }
        }
      }
    }
    .nav-login-signup {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 15px;
      .login-link-container {
        .login-link {
          display: block;
          padding: 0.65em 1.5em;
          border-radius: 100vh;
          font-size: 16px;
          color: #fff;
        }
        .signup {
          color: #fff !important;
          background-color: var(--main-color);
        }
      }
    }
    .hamburger-menu {
      display: none;
      flex-direction: column;
      gap: 5px;
      width: 50px;
      cursor: pointer;
      .hamburger-line {
        align-self: flex-end;
        width: 70%;
        height: 5px;
        background-color: var(--main-color);
      }
      &:hover {
        .hamburger-line {
          animation: grow 1s infinite alternate;
          &:nth-child(1) {
            animation-delay: 0.1s;
          }
          &:nth-child(2) {
            animation-delay: 0.2s;
          }
          &:nth-child(3) {
            animation-delay: 0.3s;
          }
        }
      }
    }
  }
  .side-bar {
    display: none;
  }
  .backdrop {
    display: none;
  }
}

.sticky {
  background-color: #fff;
  box-shadow: 0 0 3px 1px var(--50-main-color);
}

.sticky-nav-colors {
  color: var(--dark-text) !important;
}

.register,
.login,
.categories,
.search,
.error,
.watch,
.single-category,
.user {
  .navbar-content {
    .title-icon {
      .nav-title {
        h1 {
          color: var(--dark-text);
        }
      }
    }
    .navigation {
      .nav-link-container {
        .nav-link {
          color: var(--dark-text);
        }
      }
    }
    .nav-login-signup {
      .login-link-container {
        .login-link {
          color: var(--dark-text);
        }
      }
    }
  }
}

// @media (max-width: 1300px) {
//   .nav-link-container {
//     padding: 20px !important;
//   }
// }

@media (max-width: 1100px) {
  .navbar {
    .navbar-content {
      .title-icon {
        .nav-icon {
          width: 30px;
          svg {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .navbar {
    .navbar-content {
      padding: 0.5em 0;
      .title-icon {
        .nav-title {
          h1 {
            font-size: 21px;
          }
        }
      }
      .navigation,
      .nav-login-signup {
        display: none;
      }
      .hamburger-menu {
        display: flex;
      }
    }
    .side-bar {
      display: flex;
    }
    .backdrop {
      display: block;
    }
  }
}

@media (max-width: 500px) {
  .navbar {
    .navbar-content {
      max-width: 95%;
    }
  }
}

@keyframes grow {
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
