@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap%27');
$primaryClr: #06283D;
$secondaryClr: #256D85;
$lightBlue: #47B5FF;
$baseClr: #DFF6FF;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  justify-content: center;
  box-shadow: 0 2px 8px $secondaryClr;
  cursor: pointer;
  border-radius: 0.5rem;
  overflow: hidden;

  &__actionArea{
    background-color: #200f4f;
  }

  &__content {
    padding: .4rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
  }

  &__content {
    padding: 1rem;
  }

  &__title {
    color: none;
    color: #DFF6FF;
  }

  &__description {
    color: none;
    color: #DFF6FF;
  }

  &__timestamp {
    color: none;
    color: #DFF6FF;
  }

  &__createdOn {
    color: none !important;
    color: #DFF6FF;
  }

  &__image {
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    display: block;
  }
  &:hover {
    transform: scale(1.01);
  }
}