.error-page {
    padding-top: 50px;
    margin: 5em auto;
    width: 1400px;
    max-width: 90%;
    align-items: center;
    gap: 25px;
    .image-wrapper {
        width: 300px;
        max-width: 100%;
    }
}